@font-face {
  font-family: 'iconfont';  /* project id 2118841 */
  src: url('//at.alicdn.com/t/font_2118841_qy6xhevpeji.eot');
  src: url('//at.alicdn.com/t/font_2118841_qy6xhevpeji.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_2118841_qy6xhevpeji.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_2118841_qy6xhevpeji.woff') format('woff'),
  url('//at.alicdn.com/t/font_2118841_qy6xhevpeji.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_2118841_qy6xhevpeji.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-weixin:before {
  content: "\e600";
}
.icon-dianhua:before {
  content: "\e61f";
}
.icon-youjiantou:before {
  content: "\e629";
}
.icon-chahao:before {
  content: "\e668";
}
.icon-dingwei:before {
  content: "\e61e";
}
