  *{margin: 0;padding: 0;box-sizing: border-box;text-decoration: none;list-style: none;}
  .add_vehicle{width: 100%;height: 100%;display: flex;flex-direction: column;overflow: auto;padding-bottom: 50px;}
  /* 顶部内容 */
  .add_vehicle_top{width: 100%;height: 80px;display: flex;flex-direction: column;justify-content: center;align-items: start;padding: 0px 30px;background-color: white;border-bottom: 5px solid #f2f2f2;}
  .add_vehicle_top p{font-size: 12px;color: #ccc;padding-bottom: 6px;}
  .mint-button--primary{color: #F8D11F;background-color: transparent;}
  .mint-button--small{padding: 0px;padding-right: 12px;}
  /* 内容 */
  .add_vehicle_vont{width: 100%;flex: 1;}
  .add_vehicle_firstvont{width: 100%;padding: 0px 15px;padding-top: 10px;}
  .add_vehicle_firstvont p{width: 100%;border-bottom: 1px solid #ccc;padding: 0px 15px;}
  .add_vehicle_firstvont p:last-of-type{border: none;}
  .add_vehicle_secondvont{width: 100%;border-top: 10px solid #F2F2F2;padding: 0px 15px;}
  .add_vehicle_secondvont p{width: 100%;border-bottom: 1px solid #ccc;padding: 0px 15px;}
  .add_vehicle_secondvont p:last-of-type{border: none;}
  .add_vehicle_secondvont span{padding: 0 10px;}

  .gengduo{display: flex; justify-content: space-between;padding: 10px 10px 0 10px }
  .car_number{display: flex;justify-content: space-between;border-bottom: 1px solid #ccc;padding: 0px 15px;min-height: 48px;align-items: center;}
  .car_number span{width: 105px;padding: 0 10px;font-size: 16px;}
  .car_number1{flex: 1;display: flex;justify-content: flex-end;}
  .car_number1 select{font-size: 14px;color: #F8D11F;background-color: #fef5d0;border: none;border-radius: 3px;}
  .car_number1 input{text-align: right;font-size: 14px;border: none;width: 145px;}
.car_number2 select{border: none; background-color: #fff;}

  .mint-cell-title{text-align: left;font-size: 14px;color: #333;}
  .mint-field-core{text-align: right;font-size: 14px;color: #333;background: #fff !important;}
  .mint-cell-value>input{background-color: #fff;}
  .add_vehicle_switch{display: flex;justify-content: space-between;align-items: center;min-height: 48px;}

  .mint-switch-core{width: 45px;height: 17px;}
  .mint-switch-core::before{width: 23px;height: 15px;}
  .mint-switch-core::after{width: 23px;height: 15px;}
  .mint-switch-input:checked + .mint-switch-core {border-color: #F8D11F;background-color: #F8D11F;}
  input::placeholder {font-size: 14px;color: #ccc;}
  /* 按钮 */
  .check_btn{width: 100%;padding-top: 40px;text-align: center;}
  .check{width: 80%;margin: 0 auto;background-color:#F8D11F;color: #fff;border-radius:20px;height: 40px;}

