*{margin: 0;padding: 0;box-sizing: border-box;text-decoration: none;list-style: none;}
.exclusive_services{height: 100%;width: 100%;display: flex;flex-direction: column;overflow: hidden;}
/* 开通模块 */
.exclusive_title{width: 100%;height: 150px;background-color: #3e3e3e;display: flex;justify-content: space-between;align-items: center;padding: 0px 15px;border-radius: 0 0 30% 30%;}
/* 顶部内容 */
.exclusive_cont{width: 100%;flex: 1;overflow: auto;padding: 20px 30px;}
/* 添加车辆 */
.exclusive_top{width: 95%;height: 180px;background: url(../../../static/img/exclusive_back.png) no-repeat 0.0;background-position: left top;background-size: 98% 100%;display: flex;flex-direction: column;justify-content: center;align-items: center;position: absolute;top: 60px;}
.exclusive_top img{width: 60px;height: 60px;}
.exclusive_top>p{font-size: 12px;color: #ccc;padding-top: 15px;}
.exclusive_two{display: flex;flex-direction: row;justify-content: flex-start;align-items: flex-start;padding: 30px 10px 10px 30px;}
.exclusive_two>img{border-radius: 50%;}
.exclusive_top_center{padding-left: 15px;}
.exclusive_top_center>p:nth-child(1){font-size: 15px;font-weight: bold;}
.exclusive_top_center>p:nth-child(2){font-size: 14px; color: #aaa;padding: 10px 0;}
.exclusive_top_center>p:nth-child(3){font-size: 12px;color: #ccc;line-height: 8;padding-left: 15px;}
/* 内容提醒 */
.exclusive_center{width:100%;display: flex;padding-top: 50px;}
.center_remind{margin: 0 auto;text-align: center;flex: 1;}
.center_remind_pic{text-align: center;}
.center_remind_pic img{width: 35px;}
.center_remind_cont{display: flex;flex-direction: column;align-items: center;justify-content: center;}
.center_remind_cont p:nth-child(1){font-size: 12px;color: #aaa;}
.center_remind_cont p:nth-child(2){font-size: 15px;color: #000;padding-top: 2px;}
 .swiper-container {
      margin-top: 20px;
      width: 100%;
      height: 40%;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;

      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
    }
.swiper-slide>img{width: 100%;}
.swiper-container-horizontal>.swiper-pagination-progressbar{
  top: auto !important;
  bottom: 0 !important;
  background-color: #F8D73B !important;
  /* width: 80%!important; */
}
.swiper-pagination-progressbar-fill{
  background-color: #F8D73B !important;
}
.swiper-pagination-progressbar .swiper-pagination-progressbar-fill{
   background-color: #F8D73B !important;
}
