 * {padding:0;margin:0;box-sizing:border-box;}
  .Film_all {height:100%;}
  /* 头部banner */
  .Film_top {height:25%;width:100%;}
  .Film_top>img {height:100%;width:100%;}
  .Film_center {height:75%;}

  .center_navigation {height:55%;}
 /* 弹框 */
 .el-dialog--center .el-dialog__body{padding: 10px !important;}
 .shop {margin:0 auto;}
 .layui-layer-content {height:100%;}
 .layui-layer {border-radius:10px !important;}
 .upper {display:flex;}
 .upper_img {padding:5px;width:25%;}
 .upper_img>img {height:100%;width:100%;}
 .upper_text {width:75%;padding:0 5px;}
 .upper_text_top {display:flex;justify-content:space-between;}
 .upper_text_top>p {width:75%;font-size:12px;font-weight:bold;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;}
 .upper_text_top>a {background-color:#FEF6D2;font-size:12px;color:#F8D11F;border-radius:5px;padding:0 2px;text-decoration:none;display:flex;justify-content:center;}
 .upper_text_top>a>img {height:20px;}
 .upper_text_score {display:flex;padding:5px 0;}
 .upper_text_score>p {color:#E71919;border:1px solid #E71919;padding:1px 2px;border-radius:5px;font-size:10px;letter-spacing:1px;}
 .upper_text_score>p:nth-child(2) {margin:0 10px;}
 .upper_text_score>p:last-child {border:none;}
 .upper_text_score>p>span {color:#F29D97;padding-right:5px;}
 .upper_text_phont {padding:5px 0;display:flex;color:#3E9FD7;align-items:center;letter-spacing:1px;font-size:12px;}
 .upper_text_phont>img {height:15px;}
 .upper_daohang {width:18%;}
 .center{display: flex;width: 100%;align-items: center;padding: 5px;}
 .center>div{display: flex;flex: 1;align-items: center;}
 .center_left>p{background-color:#FEF6D2;color: #F8D11F;font-size: 13px;border-radius: 5px;padding: 2px 3px;}
 .center_right>p{font-size: 12px;color: #aaa;padding-left: 2px;border: 1px solid #aaa; padding:2px 6px;border-radius: 5px;}
 .bottom {height:20%;display:flex;justify-content:space-between;align-items:center;}
 .bottom_left {width:70%;}
 .bottom_left>p {font-size:12px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;padding-left: 5px;}
 .bottom_right>a{background-color:#F8D11F;color:#FFFFFF;border-radius:10px;padding:3px 6px;font-size:12px;text-decoration:none;}
.el-dialog__body{padding: 10px;}
.el-dialog__header{display: none;}