     *{margin: 0;padding: 0;box-sizing: border-box;text-decoration: none;list-style: none;}
    .index{width: 100%;height: 100%; overflow: auto;}
    .index_top{width: 100%;height: 180px;position: relative;}
    .index_top>img{width: 100%;height: 100%;}
    /* 文字*/
    .index_text{width: 100%;height: 100%;position: absolute;top: 0;left: 0;display: flex;flex-direction: column;justify-content: center;align-items: start;padding: 10px 20px;}
    .index_text>p{color: white;}
    .index_text>p:nth-child(1){font-size: 15px;font-weight: bold;}
    .index_text>p:nth-child(2){font-size: 12px;padding: 15px 0px;font-weight: bold;}
    .index_text>p:nth-child(3){padding-left: 3px;border: 1px solid #FFFFFF;width: 130px;font-size: 10px;font-weight: bold;}
    .index_text>a{text-align: center;width: 20%;padding: 2px 5px;background-color: white;color: #639cf9;border-radius: 15px;text-decoration: none;font-size: 12px;margin-top: 15px;}
    /* 全部版块*/
    .index_center{width: 100%;/* padding: 5px 15px; */position: absolute;top: 160px;}
    .index_center1{width: 100%;padding: 0px 15px;}
    .center_content{width: 100%;background-color: #FFFFFF;border-radius: 20px;/* box-shadow: 1px 1px 5px #ccc; */padding: 5px 20px;}
    /* 喇叭*/
    .center_content_service{width: 100%;border-bottom: 1px solid #ebeff2;display: flex;align-items: center;padding: 5px 0px;}
    .center_content_service>img{padding-left: 5px;width: 20px;}
    .center_content_service>p{padding-left: 15px;font-size: 12px;color: #d6d6d6;}
    /* 块链接*/
    .swiper-container1{width: 100%;padding: 20px 0px;overflow-x: hidden;position: relative;}
    .swiper-slide{display: inline-block;}
    .index_menu_item{width: 100%;margin-bottom: 10px;}
    .index_menu_item1{width: 100%;text-align: center;}
    .index_menu_item1 img{width: 40px;margin: 0 auto;}
    .common_title{padding-top: 6px;font-size: 13px;}
    .swiper-container1 .swiper-pagination-bullet{width: 5px!important;height: 5px!important;display: inline-block;border-radius: 50%;background: #000;opacity: 1;}
    .swiper-container1 .swiper-pagination-bullet-active {width: 20px!important;height: 5px!important;border-radius: 30px;opacity: 1;background-color: #333!important;}
    /* banner轮播 */
    .index_banner{width: 100%;padding-bottom: 15px;}
     .swiper-container2{width: 100%;overflow-x: hidden;position: relative;}
    .swiper-container2 img{width: 100%;height: 90px;}
    /* .swiper-container-multirow>.swiper-wrapper{ flex-wrap: nowrap;} */
    .swiper-container2 .swiper-pagination-bullet{width: 5px!important;height: 5px!important;display: inline-block;border-radius: 50%;background: #fff;opacity: 1;}
    .swiper-container2 .swiper-pagination-bullet-active {width: 5px!important;height: 5px!important;border-radius: 30px;opacity: 1;background-color: #333!important;}
    /*附近商家标题*/
    .index_shop{width: 100%;}
    .index_shop_title{width: 100%;padding:8px 15px;padding-top: 15px;border-bottom: 1px solid #EBEFF2;border-top:  1px solid #EBEFF2;display: flex;align-items: center;justify-content: space-between;}
    .index_shop_title>p{font-size: 14px;padding-left: 5px;border-left: 3px solid #D5622E;color: #333;font-weight: bold;}
    .index_shop_title>a{font-size: 14px;color: #999;}
    /* 附近商家内容 */
    .index_shop_cont{width: 100%;padding: 25px 15px;}
    .index_shop_item{width: 100%;padding: 10px;box-shadow: 1px 1px 5px #ccc;border-radius: 10px;margin-bottom:15px;height: 100px;display: flex;}
    .around{display: flex;width: 75%;}
    /* 左侧内容 */
    .index_shop_picitem{width: 35%;}
    .index_shop_picitem img{width: 100%; height: 100%;}
    /* 中间内容 */
    .index_shop_textitem{width: 65%;display: flex;flex-direction: column;justify-content: space-around;align-items: start;border-right: 1px solid #DCDCDC;padding: 0px 10px;}
    /* 中间文字 */
    .index_centershop_toptitle{font-size: 13px;font-weight: bold;}
    .index_centershop_centertitle{font-size: 12px;color: #fb8e6c;border: 1px solid  #fb8e6c;padding: 0px 3px;border-radius: 15px;}
    .index_centershop_bottomtitle{font-size: 12px;color: #999; white-space: nowrap; overflow: hidden;text-overflow:ellipsis;width: 80%;}
    /* 右侧内容 */
    .last_a{width: 25%;display: flex;justify-content: center;align-items: center;}
    .index_shop_centertext{display: flex;align-items: center;}
    .index_shop_centertext img{width: 50%;height: 12px;margin-left: 5px;}
    .index_shop_righttext{width: 100%;text-align: center;}
    .index_shop_righttext img{width: 40px;margin-bottom: 6px;}
    .index_shop_righttext p{font-size: 12px;color:#00abee;}
