  *{margin: 0;padding: 0;box-sizing: border-box;text-decoration: none;list-style: none;}
  .quality_film{width: 100%; display: flex; flex-direction: column;height: 100%;}
  .quality_top img{width: 100%;}
  .center_screen {height:8%;display:flex;justify-content:space-between;align-items:flex-end;}
  .quality_center{flex: 1;}
  select {height:100%;width:30%;color:#868686;font-size:12px;text-align:center;outline:none;border:none;text-align:center;text-align-last:center;background-color:#FFFFFF;}
  .center_navigation{height: 50%;background-color:#f5f5f5;}
  .shop{
  	padding: 10px;
  	margin: 0 auto;
  }
  .layui-layer-content{
  	height: 100%;
  }

  .upper{
  	height: 80%;
  	display: flex;
  }
  .upper_img{
  	height: 100%;
  	width: 32%;
  }
  .upper_img>img{
  	height: 100%;
  	width: 100%;
  }
  .upper_text{
  	width: 50%;
  	padding: 0 5px;
  }
  .upper_text>p{
  	font-size: 12px;
  	font-weight: bold;
  }
  .upper_text_score{
  	display: flex;
  	justify-content: space-between;
  	padding: 10px 0;
  }
  .upper_text_score>p{
  	color: #E71919;
  	border: 1px solid #E71919;
  	padding: 1px 2px;
  	border-radius: 5px;
  }
  .upper_text_score>p:last-child{
  	border: none;
  }
  .upper_text_score>p>span{
  	color:#F29D97 ;
  	padding-right: 5px;
  }
  .upper_text_phont{
  	padding: 5px 0;
  	display: flex;
  	color: #3E9FD7;
  	align-items: center;
  }
  .upper_text_phont>img{
  	height: 20px;
  }
  .upper_daohang>a{
  	background-color:#FEF6D2 ;
  	font-size: 12px;
  	color: #F8D11F;
  }
  .upper_daohang>a>img{
  	height: 25px;

  }
  .center{display: flex;width: 100%;align-items: center;}
  .center>div{display: flex;flex: 1;align-items: center;justify-content: center;}
  .center_left>p{background-color:#FEF6D2;color: #F8D11F;font-size: 12px;border-radius: 5px;padding: 2px 3px;}
 .center_right>p{font-size: 12px;color: #aaa;padding-left: 2px;border: 1px solid #aaa; padding:2px 6px;border-radius: 5px;}
  /* .center_right>img{width: 15px;height: 12px;} */
  .bottom{
  	height: 20%;
  	display: flex;
  	justify-content: space-between;
  	align-items: center;
  }
  .bottom_left{
  	width: 70%;
  }
  .bottom_left>p{
  	overflow: hidden;
  	white-space: nowrap;
  	text-overflow: ellipsis;
  }
  .bottom_right>a{
  	background-color: #F8D11F;
  	color: #FFFFFF;
  	border-radius: 10px;
  	padding: 3px 6px;
  	font-size: 12px;
  }
.quality_bottom{
    height: 100px;
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: #fff;
    box-shadow: -1px 1px 10px 5px #f5f5f5;
}
.bottom_top{
  height:65%;
  display: flex;
  justify-content: center;
  flex-direction: column;
    padding: 10px 15px 10px 20px;
}
.bottom_top>p:first-child{
  font-size: 15px;
}
.bottom_top>p:last-child{
  display: flex;
  justify-content: space-between;
}
.bottom_top>p:last-child>span:first-child{
  font-size: 12px;
  color: #aaa;
}
.bottom_top>p:last-child>span:last-child{
  font-size: 12px;
  color: #F8D11F;
}
.bottom_top>p:last-child>span:last-child>img{
  height: 15px;
  width: 15px;
}
.bottom_bottom{
  height: 30%;
    padding: 0 15px 0 20px;
    display: flex;
    align-items: center;
    border-top: 1px solid #ccc;
}
.bottom_bottom>img{
  height: 15px;
}
.quality_drawer_top{
  /* height: 250px; */
  padding: 20px 0px 10px 25px;
  border-bottom: 1px solid #ccc;
  box-shadow: 1px 1px 10px 2px #ccc;

}

.drawer_top_text{
  width: 100%;
  display: flex;
   flex-direction: column;
  align-items: flex-start;
}
.drawer_top_text>p>span{
  margin-right: 10px;
  padding: 2px 4px;
}
.border_none{
  font-size: 14px;
  font-weight: bold;
}
.border{
  font-size: 10px;
  border: 1px solid #EC4F4F;
  color: #EC4F4F;
  border-radius: 5px;
}
.quality_drawer_top>p{
  font-size: 12px;
  padding-bottom: 5px;
}
#two{
  color: #aaa;
  padding: 5px 0;
}
#three{
  padding: 2px 4px;
  background-color: #FCE997;
}
.drawer_top_img{
  padding: 10px 0;
  display: flex;
  overflow: auto;
}
.drawer_top_img>img{
  height:80px ;
  width: 70%;
  padding-right: 20px;
}
.center_top{
  padding: 10px 25px;
  display: flex;
 /* padding: 10px 0; */
}
.center_top>button{
  margin-right: 20px;
  background-color: #fff;
  border: none;
}
.center_text{
    padding: 0 25px;
    padding-bottom: 20px;
    overflow: auto;
}
.center_text>textarea{
  width: 100%;
  border: none;
  resize: none;
  font-size: 12px;
  line-height: 1.5;
}
.center_bottom{
  width: 100%;
  position: absolute;
  bottom: 0;
  padding: 15px 25px;
  display: flex;
  background-color: #fff;
}
.center_bottom>a{
  width: 50%;
}
/* .center_bottom>a:last-child{
  text-align: end;
} */
.center_bottom>a>img{
  height: 15px;
}
.color{
  color:#F8D11F;
  border-bottom: 2px solid #F8D11F !important;
}
.el-dialog__body{padding: 15px 10px !important;}
.el-dialog__header{display: none;padding: 10px 20px 0px;}