* {padding:0;margin:0;box-sizing:border-box;}
.tyre_all {height:100%;}
.tyre_top {height:25%;width:100%;display:flex;flex-direction:column;justify-content:center;align-items:start;padding:10px;}
.tyre_all>img {height:25%;width:100%;position:absolute;}
.tyre_top>p:nth-child(1) {border-bottom:1px solid #8996A3;}
.tyre_top>p:nth-child(2) {padding-top:15px;}
.tyre_top>p {position:relative;color:#FFFFFF;font-size:12px;padding:5px 20px;}
.tyre_center {height:75%;}
.center_data {height:35%;background-color:#f5f5f5;}
.center_screen {height:8%;display:flex;justify-content:space-between;align-items:flex-end;}
select {height:100%;width:30%;color:#868686;font-size:12px;text-align:center;outline:none;border:none;text-align:center;text-align-last:center;background-color:#FFFFFF;}
.center_navigation {height:40%;background-color:#f5f5f5;}
.shop {padding:10px;margin:0 auto;}
.layui-layer-content {height:100%;}
.layui-layer {border-radius:10px !important;}
.upper {display:flex;}
.upper_img {padding:5px;width:25%;}
.upper_img>img {height:100%;width:100%;}
.upper_text {width:75%;padding:0 5px;}
.upper_text_top {display:flex;justify-content:space-between;}
.upper_text_top>p {width:75%;font-size:12px;font-weight:bold;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;}
.upper_text_top>a {background-color:#FEF6D2;font-size:12px;color:#F8D11F;border-radius:5px;padding:0 2px;text-decoration:none;display:flex;justify-content:center;}
.upper_text_top>a>img {height:20px;}
.upper_text_score {display:flex;padding:5px 0;}
.upper_text_score>p {color:#E71919;border:1px solid #E71919;padding:1px 2px;border-radius:5px;font-size:10px;letter-spacing:1px;}
.upper_text_score>p:nth-child(2) {margin:0 10px;}
.upper_text_score>p:last-child {border:none;}
.upper_text_score>p>span {color:#F29D97;padding-right:5px;}
.upper_text_phont {padding:5px 0;display:flex;color:#3E9FD7;align-items:center;letter-spacing:1px;font-size:12px;}
.upper_text_phont>img {height:15px;}
.upper_daohang {width:18%;}
.bottom {height:20%;display:flex;justify-content:space-between;align-items:center;}
.bottom_left {width:70%;}
.bottom_left>p {font-size:10px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.bottom_right>a {background-color:#F8D11F;color:#FFFFFF;border-radius:10px;padding:3px 6px;font-size:12px;text-decoration:none;}
